<!DOCTYPE html>
<html ng-app="dataApp">
  <head>
    <title>Targil</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="angular.js"></script>
    <script src="bootstrap.js"></script>
    <script src="value.service.js"></script>
    <script src="const.service.js"></script>
    <script src="factory.service.js"></script>
    <script src="service.service.js"></script>
    <script src="inputCtrl.js"></script>
    <script src="sumCtrl.js"></script>
    <script src="divCtrl.js"></script>
    <script src="aCtrl.js"></script>
    <script src="bCtrl.js"></script>
  </head>
  <body>
    <br />
    <div ng-controller="inputCtrl">
      Enter a:
      <input type="number" ng-model="data.aNum" />
      Enter b:
      <input type="number" ng-model="data.bNum" />
      (inputCtrl:) a + b = <span> {{ data.aNum + data.bNum }} </span>
      <br />
      <br />
      <input type="radio" ng-model="color.name" value="clear" />
      green & yellow
      <input type="radio" ng-model="color.name" value="dark" />
      blue & brown
      <br />
      <!-- color = {{ color.name | json }} -->
    </div>
    <br />
    <div ng-controller="sumCtrl">
      (sumCtrl:) a + b =
      <span ng-class="getClass()">
        {{ data.aNum + data.bNum }}
      </span>
    </div>
    <br />
    <div ng-controller="divCtrl">
      a / b =
      <span>
        {{ data.aNum / data.bNum }}
      </span>
      <span class="error" ng-show="data.bNum === 0">{{ msg.divError }}</span>
    </div>
    <br />
    <div ng-controller="aCtrl">
      <button ng-click="printA()">print 1 to A</button>
      <span class="error" ng-show="data.aNum < 1">{{ msg.NegAError }}</span>
      <br />
      <div>
        <br />
        <span ng-repeat="element in aArr">{{ element + " " }}</span>
      </div>
    </div>
    <br />
    <div ng-controller="bCtrl">
      <button ng-click="printB()">print B to 1</button>
      <span class="error" ng-show="data.bNum < 1">{{ msg.NegBError }}</span>
      <br />
      <div>
        <br />
        <span ng-repeat="element in bArr">{{ element + " " }}</span>
      </div>
    </div>
    <br />
  </body>
</html>
