.ok {
  color: green;
}

.allEmpty {
  color: red;
  border-color: red;
}

.partialEmpty {
  color: orange;
  border-color: orange;
}

.invalidAge {
  color: blue;
  border-color: blue;
}
